.order-card, .order-card-green{
    font-size: 14px;
    font-weight: 500;
    font-family: 'Montserrat';
    color: #000000;
    border: none;
}
.order-card{
    background-color: #fff;
}
.order-card-green{
    background-color: #F6FBF1;
}
.order-card-gray-text{
    color: #5F6368;
    font-weight: 400;
}
.order-card-semibold{
    font-weight: 600;
}
.order-status-select{
    border: none;
    background-color: transparent;
    font-weight: 600;
}
.order-card-item-img{
    width: 70px;
    height: 70px;
    object-fit: contain;
    overflow: visible;
}
.order-card-items {
    width: 100%;
    border-spacing: 0 10px;
    border-collapse: separate;
}
.user-profile-cansel-order{
    border: none;
    background-color: #858585;
    padding: 0.25rem;
    border-radius: 5px;
    color: #fff;
    width: 100px;
}
.user-profile-cansel-order:hover{
    background-color: #5F6368;
    transition: all 0.3s;
}
.accordion-button::after {
    display: none;
}
.order-card-toggle {
    width: 18px;
    height: 18px;
    background-image: var(--bs-accordion-btn-icon);
    background-repeat: no-repeat;
    background-size: contain;
    transition: transform 0.3s ease-in-out;
}
.order-card:not(.collapsed) .order-card-toggle {
    transform: rotate(180deg);
}
