.user-profile-card{
    background: #ffffff;
    border-radius: 25px;
    width: auto;
}
.user-profile-card-title{
    font-size: 18px;
    font-weight: 600;
    color: #546C42;
}
.user-profile-card-img{
    width: 170px;
    height: 170px;
    cursor: pointer;
    border-radius: 50%;
}
.edit-user-profile-btn{
    border-radius: 7px;
    border: none;
    background-color: #FF7A00;
    color: #ffffff;
    width: 100%;
}
.edit-user-profile-icon{
    max-width: 30px;
}
.logout-user-btn{
    border-radius: 7px;
    border: none;
    background-color: #FF003C;
    color: #ffffff;
    width: 100%;
}